<app-layout [username]="'Gilberto'">
    <main>
        <h1>Grupos</h1>
        <p>Acesse seus grupos criados</p>
        <section class="groups">
            <mat-card class="group">
                <mat-card-content class="content">
                    <section class="text">
                        <h4>Família Gonçalves</h4>
                        <span>24 participantes</span>
                    </section>
                  <button (click)="navigateToGroup(1)">Acessar</button>
                </mat-card-content>
              </mat-card>
            
              <mat-card class="group">
                <mat-card-content class="content">
                    <section class="text">
                        <h4>Família Almeida</h4>
                        <span>32 participantes</span>
                    </section>
                  <button (click)="navigateToGroup(2)">Acessar</button>
                </mat-card-content>
              </mat-card>
            
              <mat-card class="group">
                <mat-card-content class="content">
                    <section class="text">
                        <h4>Família Machado</h4>
                        <span>15 participantes</span>
                    </section>
                  <button (click)="navigateToGroup(3)">Acessar</button>
                </mat-card-content>
              </mat-card>
        </section>
        <img src="../../../assets/btn-add.svg" alt="Adicionar grupo" (click)="addGroup()">
    </main>
</app-layout>