<app-layout [username]="'Gilberto'">
    <main>
        <h1>Grupos</h1>
        <p>Acesse seus grupos criados</p>

        <section class="groups">
            <ng-container *ngIf="groups.length > 0; else noGroups">
                <mat-card class="group" *ngFor="let group of groups; trackBy: trackById">
                    <mat-card-content class="content">
                        <section class="text">
                            <h4>{{ group.name }}</h4>
                            <span>{{ group.participants.length }} participantes</span>
                        </section>
                        <button (click)="navigateToGroup(group.id)">Acessar</button>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </section>

        <ng-template #noGroups>
            <p class="no-groups" style="text-align:center">Não há grupos criados.<br/>Clique em '+' para criar um novo grupo.</p>
        </ng-template>

        <img src="../../../assets/btn-add.svg" alt="Adicionar grupo" (click)="addGroup()">
    </main>
</app-layout>