<app-layout [username]="''">
    <main>
        <section class="main">
            <section class="title">
                <h1>Entre em contato</h1>
            </section>

            <section class="contact">
                <div class="contact-info">
                    <h2>Informações de Contato</h2>
                    <div class="info">
                        <button class="contact-btn" (click)="openUrl('https://wa.me/5542999533268')">WhatsApp</button>
                        <button class="contact-btn" (click)="openUrl('https://www.linkedin.com/in/gilberto-goncalves/')">LinkedIn</button>
                        <button class="contact-btn" (click)="openUrl('https://github.com/GilbertoGoncalves21')">GitHub</button>
                        <button class="contact-btn" (click)="openUrl('https://www.instagram.com/gilberto_goncalves21')">Instagram</button>
                    </div>
                </div>
            </section>
        </section>
    </main>
</app-layout>