<app-layout [username]="'Gilberto'">
    <main>
        <section class="main">
            <section class="title">
                <h1>Entre em contato</h1>
            </section>

            <section class="contact">
                <div class="contact-info">
                    <h2>Informações de Contato</h2>
                    <div class="info">
                        <p>Email:
                            <a href="mailto: gibagonjunior@gmail.com" target="_blank">Clique aqui</a>
                        </p>
                        <p>Telefone:
                            <a href="wa.me/42999533268">+55 (42) 99953-3268</a>
                        </p>
                        <p>LinkedIn:
                            <a href="https://www.linkedin.com/in/gilberto-goncalves/" target="_blank">LinkedIn</a>
                        </p>
                        <p>GitHub:
                            <a href="https://github.com/GilbertoGoncalves21" target="_blank">GitHub</a>
                        </p>
                        <p>Instagram:
                            <a href="https://www.instagram.com/gilberto_goncalves21" target="_blank">Instagram</a>
                        </p>
                    </div>
                </div>
            </section>
        </section>
    </main>
</app-layout>