:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(90deg, #7b0d0d, #e63939);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  
    .header {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .cabecalho {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          margin-top: 1rem;
          width: 10rem;
          height: 10rem;
          cursor: pointer;
        }
      }
    }

    .navbar {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      padding: 1rem 0;

      .options {
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.1);
          color: #E63939;
        }
      }
    }

    @media (max-width: 1000px) {
      .navbar {
        display: none;
      }
    }
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .welcome {
      width: 100%;
      height: 6rem;
      position: absolute;
      top: 0.5rem;
      left: 2rem;
      font-family: "Poppins", sans-serif;

      p {
        font-size: 1rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
        margin: 0;
        padding: 0;
      }

      h1 {
        font-size: 2rem;
        font-weight: 600;
        color: #7b0d0d;
        margin: 0;
        padding: 0;
        padding-bottom: 2rem;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
