<header>
  <h1>Sorteio Padrão</h1>
</header>
<main>
  <section class="title">
    <h2>Informe o Nome das pessoas que estarão participando do sorteio</h2>
  </section>
  <div class="input-section">
    <input placeholder="Infome o nome aqui" [(ngModel)]="nome" />
    <button class="add-button" (click)="adicionarNome()">Adicionar Nome</button>
  </div>
  <hr />
  <div class="list-section" id="listaNomes">
    <ul *ngIf="nomes.length > 0" class="nome-list">
      <li *ngFor="let nome of nomes">{{ nome }}</li>
    </ul>
  </div>
  <hr />
  <section class="button-section">
    <button
      class="action-button"
      (click)="realizarSorteio()"
      [disabled]="nomes.length === 0"
    >
      Realizar Sorteio
    </button>
    <button class="action-button" (click)="limpar()">
      Limpar lista de nome
    </button>
    <button class="action-button" [routerLink]="['']">Voltar ao Início</button>
  </section>
</main>
