<section class="home">
  <nav>
    <section class="cabecalho">
      <section class="login" [routerLink]="['/login']">
        <span class="material-symbols-outlined">
          login
        </span>
      </section>
    </section>
  </nav>
  <main>
    <section class="options">
      <section class="personalized-draw" [routerLink]="['/personalized-draw']">
        <span class="material-symbols-outlined">
          edit
          </span>
        <span>
          Sorteio Personalizado
        </span>
      </section>
      <section class="random-draw" [routerLink]="['/random-draw']">
        <span class="material-symbols-outlined">
          featured_seasonal_and_gifts
        </span>
        <span>
          Sorteio Padrão
        </span>
      </section>
      <section class="result" [routerLink]="['/result']">
        <span class="material-symbols-outlined">
          visibility
          </span>
        <span>
          Consultar Resultado
        </span>
      </section>
    </section>
  </main>
  <footer>
    <section class="rodape">

    </section>
  </footer>
</section>
