<main>
  <section class="logo">
    <h1>Amigo Secreto</h1>
    <img src="../../../assets/logo.webp" alt="logo.webp">
  </section>
  <section class="option">
    <h2>Escolha uma das alternativas abaixo:</h2>
    <button class="first" (click)="click()">Criar um grupo</button>
    <button class="second" (click)="click()">Ver resultado</button>
    <p><a href="">Visualizar meus grupos</a></p>
  </section>
</main>
<footer>
  <p>Created By <a href="https://www.instagram.com/gilberto_goncalves21/?hl=pt-br" target="_blank">&#64;gilberto_goncalves21</a></p>
</footer>