:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  mat-card {
    margin: 20px 0;
    width: 90vw;
    height: 75vh;
    border-radius: 5%;
    background-color: #fccaca;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    position: relative;

    form {
      width: 100%;
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .name {
        display: flex;
        align-items: center;
        gap: 10px;

        mat-form-field {
          align-items: center;
          width: 95%;
          font-family: "Inknut Antiqua", serif;
          font-weight: 400;
          font-size: 1.5rem;
          color: #fff;

          .mat-form-field-flex {
            height: 70px;
            background-color: #fff;
          }

          .mat-input-element {
            height: 70px;
            background-color: #fff;
          }
        }

        button {
          background-color: #fff;
          margin-bottom: 25px;
          border-radius: 20%;
          border: 0;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .table {
        width: 90%;
        background-color: white;
        padding: 10px;
        height: 50vh !important;
        overflow-y: auto;
        border-radius: 5%;

        table {
          box-shadow: none;

          .cell-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
          }

          .name {
            flex: 1;
            text-align: left;
          }

          .actions {
            display: flex;
          }
        }
      }
    }

    .finalizate {
      position: absolute;
      width: 90%;
      height: 50px;
      font-family: "Inknut Antiqua", serif;
      font-weight: bold;
      font-size: 1.1rem;
      color: #fff;
      background-color: #f6333a;
      border: none;
      border-radius: 10px;
      bottom: 15px;
    }
  }
}
